.container-xl{
    max-width: 1700px;
    margin: 0 auto;
}
.floor-info {
    display: flex;
    gap: 24px;
    background: #F8B195;
    border-radius: 12px;
    padding: 24px;
    margin: 24px 0 36px;
}

.info-item {
    width: 100%;
    background: #fff;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
}
.info-item__title{
    font-weight: 700;
}
.floor-path{
    fill: greenyellow;
    stroke: darkgreen;
    stroke-width: 3px;
    fill-opacity: 0;
    stroke-opacity: 0;
    transition: .3s;
    cursor: pointer;
    &:hover{
        fill-opacity: 0.5;
        stroke-opacity: 0.7;
    }
}
.status-cell {
    stroke: black;
    stroke-width: 2px;
}

.status-cell__number,
.status-cell__text {
    fill: black;
    font-weight: bold;
}

.action {
    .status-cell {
        fill: #80D34E;
    }
}

.booking {
    .status-cell {
        fill: #6B68FF;
    }
}

.sold {
    .status-cell {
        fill: #D34E4E;
    }
}

.free {
    .status-cell {
        fill: #00DEFC;
    }
}


.status-large-cell {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}