.genplan{
    height: calc(100vh - 115px);
    position: relative;

    .build-path-color {
        fill-opacity: 0;
        stroke-opacity: 0;
        stroke-width: 3px;
        cursor: pointer;
        &:hover {
            fill-opacity: 0.3;
            stroke-opacity: 1;
        }
    }
    .one{
        fill: #FC6DB2;
        stroke: #FF63E6;
    }
    .two{
        fill: #02C2FF;
        stroke: #06B4FF;
    }
    .three{
        fill: #6F19DC;
        stroke: #C317FF;
    }
    .four{
        fill: #00FF47;
        stroke: #14FF00;
    }
}
    .booked{
            fill: #ff0000;
            stroke: #ff0000;
            fill-opacity: 0.5;
            cursor: no-drop;
     }


    .information {
        position: absolute;
        bottom: 4vw;
        right: 4vw;
        border: 5px solid #E84A5F ;
        padding: 28px;
        border-radius: 12px;
        background-color: #ffffff77;
        backdrop-filter: blur(1px);
        color: #9e1c73;
    
        &-list__item {
            list-style: none;
            text-align: center;
            margin-bottom: 12px;
            font-size: 18px;
            div {
                display: flex;
                justify-content: space-between;
            }
           strong{
            text-decoration: none;
    
            }
        }
    }