<header class="header">
    <div class="container">
        <a href="index.html" class="header__logo">
            <img src="assets/img/building-icon.png" class="img-fluid" alt="logo">
        </a>
        <nav class="header__navigation">
            <ul class="header__navigation-list">
              <li class="header__navigation-item"><a href="#" class="header__item-link">Home</a></li>
              <li class="header__navigation-item"><a href="#" class="header__item-link">Apartaments</a></li>
              <li class="header__navigation-item"><a href="#" class="header__item-link">Sales</a></li>
              <li class="header__navigation-item"><a href="#" class="header__item-link">About company</a></li>
              <li class="header__navigation-item"><a href="#" class="header__item-link">Contacts</a></li>
            </ul>
            <button class="btn btn-primary">Buy</button>
        </nav>
        <button class="btn-burger"></button>
    </div>
</header>
