/*!!!!!!!!!!!!!!!!!!ProximaNova!!!!!!!!!!!!!!!!!!*/
@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-Light.ttf) format('TrueType');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-Regular.ttf) format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-Semibold.ttf) format('TrueType');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}



